@charset "UTF-8";
/* CSS Document */

.list-group {
	list-style-type: none;
	font-weight:300;
}

.list-group-item {
	display:block;
}

.list-group-item :before {
	content: ""
}

.list-group-item-list-group-item-inline{
	display:inline-block;
}
